body{
    background-color: #f7f7f6;
}

.photo_plat{
    width: 100%;
    height: 250px;
    overflow: hidden;
    position: relative;

    & img{
        height: auto;
        width: 100%;
    }

}

.titre{
    display: flex;
    width: 100%;
    position: absolute;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    box-sizing: border-box;
    top: 280px;
    z-index: 1;
    border-radius: 40px 40px 0px 0px;
    background-color: #f7f7f6;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & span{
        font-family: $font_marque;
        font-size: 30px;
    }
    & .coeur{
        font-size: 30px;
    }
}

.menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f7f7f6;


    .entree, .plats, .dessert {
        padding-left: 20px;
        padding-right: 20px;
        font-family: $font_normal;
    }

    & p{
        margin-top: 40px;
        margin-bottom: 30px;
        & span{
            text-decoration: underline $color-tertiary;
            text-underline-offset: 10px;
        }
    }

    .plat{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        border-radius: 20px;
        background-color: white;
        box-shadow: 0px 2px 10px rgb(202, 201, 201);
        margin-bottom: 20px;


        &:hover{
            .prix{
                transition-duration: 1000ms;
                transform: translate(5px, 0px);
            }
            .valider{
                transition: all 1000ms;
                width: 60px;
                align-items: center;
                justify-content: center;
                & i{
                    display: flex;
                    font-size: 25px;
                    color: white;
                    align-items: center;
                    transform: rotate(1turn);
                    
                }

            }
        }


        & .valider{
            display: flex;
            width: 0px;
            height: 100%;
            border-radius: 0px 20px 20px 0px;
            background-color: $color-tertiary;
            & i{
                display: flex;
                transform: rotate(.5turn);
                
            }
            
        }

        & .descriptif{
            padding-left: 20px;
        }


        & .nom_plat{
            font-family: $font_gras;
            font-size: 18px;
            margin-bottom: 5px;
        }

        & .detail_plat{
            font-family: $font_normal;
            font-size: 16px;
        }

        & .prix{
            font-family: $font_gras;
            padding-right: 20px;
            transform: translate(50px, 0px);
        }
    }

}

.bouton {
    display: flex;
    background-color: #f7f7f6;
    justify-content: center;

    & input{
        margin-top: 40px;
        margin-bottom: 100px;
        margin-left: 0px;
        border-radius: 25px;
        width: 180px;
        height: 50px;
        color: white;
        background: linear-gradient($color-secondary, $color-primary);
        box-shadow: 0px 2px 10px rgb(202, 201, 201);
        border: none;
        font-family: $font_normal;
        font-size: 16px;
        }
}

