footer{
    background-color: #353535;
    color: white;
    line-height: 1.3;
    padding-left: 20px;
    padding-right: 20px;

    @media screen and (min-width:768px) {
        height: 200px;
        font-size: 20px;
    }

    & span{
        display: block;
    }
    .marque{
        font-family: "Shrikhand-Regular";
        padding-top: 10px;        
    }
    .proposer{
        display: flex;
        & div{
            width: 30px;
        }
        
    }
    .partenaire{
        display: flex;
        & div{
            width: 30px;
        }
    }
}