header{
    display: flex;
    position: relative;
    width: 104%;
    height: 70px;
    align-items: center;
    text-align: center;
    box-shadow: 0px 2px 8px rgb(204, 204, 204);

    .logo{
        font-family: $font_marque;
        font-size: 40px;
    }
    .entete{
        width: 100%;
    }

    & .retour_accueil{
        display: none;
    }

    /* Position du menu de navigation dans l'entete
    & i{
        font-size: 30px;
        position: absolute;
        top: 24%;
        left: 20px;
        
    }*/

    & logo{
        display: flex;
    }

    & img{
        width: 200px;
        height: auto;
        align-items: center;
    }
}