header{
    display: flex;
    position: relative;
    width: 100%;
    height: 70px;
    align-items: center;
    text-align: center;
    box-shadow: 0px 2px 8px rgb(204, 204, 204);

    .logo{
        font-family: $font_marque;
        font-size: 40px;
    }
    .entete{
        width: 100%;
        position: relative;
    }

    & a{
        display: none;
        position: absolute;
        left: 30px;
        top: 10px;
        font-size: 30px;

        @media screen and (min-width:992px) {
            display: flex;
            flex-direction: column;
            text-decoration: none;
            color: black;
            
        }
    }

    & logo{
        display: flex;
    }

    & img{
        width: 200px;
        height: auto;
        align-items: center;
    }
}

form{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #eaeaea;
    font-family: $font_gras;

    & i{
        font-size: 17px;
    }

    & input{
        height: 68px;
        border: none;
        background-color: #eaeaea;
        font-family: $font_gras;
        font-size: 18px;
        padding-left: 20px;
    
    }
} 

