#restaurants{
    width: auto;
    height: 1000px;
    background-color: #f6f6f6;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;

   & .presentation_restaurant{
       display: flex;
       flex-direction: column;

       & div{
           display: flex;
           flex-direction: column;
       }



        @media screen and (min-width:992px) {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            width: 40%;
            margin-left: 20px;
            
        }

   }

    & h2{
        font-family: $font_gras;
    }

    & a{
        text-decoration: none;
        color: black;
    }

    .cadre{
        height: 22%;
        width: 100%;
        margin-bottom: 20px;
        border-radius: 20px;
        box-shadow: 0px 2px 8px rgb(204, 204, 204);
        position: relative;
        overflow: hidden;

        & .nouveau{
            display: flex;
            justify-content: center;
            position: absolute;
            top: 15px;
            right: 30px;
            background-color: #98e3d0;
            color: #098a6b;
            width: 80px;
            height: 30px;
            text-align: center;
            font-family: $font_gras;
            font-size: 14px;
        }

        .photo{
            height: 70%;
            width: 100%;
            overflow: hidden;
            border-radius: 20px 20px 0px 0px;
        }

        .descriptif{
            height: 30%;
            width: 100%;
            background-color: white;
            border-radius: 0px 0px 20px 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            & .nom_restaurant{
                padding-top: 10px;
                padding-bottom: 5px;
                font-family: $font_gras;

            }

            & .description_restaurant{
                width: 90%;
                font-family: $font_normal;
            }

            & span{
                padding-left: 10px;
            }

            & .coeur{
                display: flex;
                justify-content: center;
                padding-right: 20px;
                font-size: 20px;
            }

        }

    }



}