#restaurants{
    margin-left: 20px;
    margin-right: 20px;
    background-color: #f7f7f6;

    & h2{
        font-family: $font-gras;
    }

    & .presentation_restaurant{
        width: 100%;
        height: 1000px;

        @media screen and (min-width:992px) {
            text-align: center;
        }
    }

    a{
        text-decoration: none;
        color: black;
        display: flex;
        flex-direction: column;
        height: 25%;
        width: 100%;
        position: relative;

        @media screen and (min-width:992px) {
            display: inline-block;
            height: 50%;
            width: 45%;
            flex-direction: row;
            flex-wrap: wrap;
            margin-right: 20px;
        }

        & .nouveau{
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 15px;
            right: 15px;
            background-color: #98e3d0;
            color: #098a6b;
            width: 80px;
            height: 30px;
            font-family: $font_gras;
            font-size: 14px;
            border-radius: 5px;
        }

        .photo{
            width: 100%;
            height: 70%;
            overflow: hidden;
            border-radius: 20px 20px 0px 0px;
            
            @media screen and (min-width:992px) {
                height: 75%;
            }
            

            & img{
                width: 100%;
            }
            
        }

    

        .descriptif{
            height: 25%;
            width: 100%;
            background-color: white;
            border-radius: 0px 0px 20px 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            @media screen and (min-width:992px) {
             text-align: left;
             height: 15%;
            }
    
            // .coeur{

            // }
            
            & .nom_restaurant{
                padding-top: 10px;
                padding-bottom: 5px;
                font-family: $font_gras;
    
            }
    
            & .description_restaurant{
                width: 90%;
                font-family: $font_normal;
            }
    
            & span{
                padding-left: 10px;
            }
    
            
    
        }
    }

    

    
}