.menu .numero1 {
  animation-name: apparition_menu;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.menu .numero2 {
  animation-name: apparition_menu;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}
.menu .numero3 {
  animation-name: apparition_menu;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
.menu .numero4 {
  animation-name: apparition_menu;
  animation-duration: 2s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}
.menu .plat {
  opacity: 0;
}
.menu .plat:hover .valider {
  transition: all 1000ms;
  display: flex;
  width: 20%;
}
.menu .plat:hover .valider i {
  animation-name: rotation-check;
  animation-duration: 1000ms;
  display: flex;
}
.menu .plat:hover .descriptif {
  width: 190px;
  transition: all 1000ms;
}
@media screen and (min-width: 768px) {
  .menu .plat:hover .descriptif {
    width: 250px;
  }
}
.menu .plat:hover .descriptif .nom_plat {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu .plat:hover .descriptif .detail_plat {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.coeur {
  position: relative;
}
.coeur .vide, .coeur .plein {
  position: absolute;
  right: 20px;
  top: -20px;
  font-size: 30px;
}
@media screen and (min-width: 768px) {
  .coeur .vide, .coeur .plein {
    font-size: 36px;
  }
}
.coeur .plein {
  opacity: 0;
}
.coeur:hover .plein {
  transition: all 800ms;
  opacity: 1;
}

.loader {
  animation-name: loader;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 3;
  animation-fill-mode: forwards;
}

.loader_spin {
  animation-name: disparition_fond_ecran;
  animation-duration: 0.1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@keyframes rotation-check {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes apparition-plat {
  0% {
    opacity: 0;
    transform: translate(-10px, 0px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes disparition_fond_ecran {
  0% {
    transform: translate(0px);
  }
  100% {
    opacity: 0;
    transform: translate(-10000px);
  }
}
@keyframes apparition_menu {
  0% {
    opacity: 0;
    transform: translate(0px, 10px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
footer {
  background-color: #353535;
  color: white;
  line-height: 1.3;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 768px) {
  footer {
    height: 200px;
    font-size: 20px;
  }
}
footer span {
  display: block;
  font-family: "Roboto-Regular";
}
footer .marque {
  font-family: "Shrikhand-Regular";
  padding-top: 10px;
}
footer .proposer {
  display: flex;
}
footer .proposer div {
  width: 30px;
}
footer .partenaire {
  display: flex;
}
footer .partenaire div {
  width: 30px;
}
footer a {
  text-decoration: none;
  color: white;
  font-family: "Roboto-Regular";
}

header {
  display: flex;
  position: relative;
  width: 100%;
  height: 70px;
  align-items: center;
  text-align: center;
  box-shadow: 0px 2px 8px #cccccc;
}
header .logo {
  font-family: "Shrikhand-Regular";
  font-size: 40px;
}
header .entete {
  width: 100%;
  position: relative;
}
header .entete i {
  display: flex;
}
header a {
  position: absolute;
  left: 30px;
  top: 10px;
  font-size: 30px;
  text-decoration: none;
}
@media screen and (min-width: 992px) {
  header a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
  }
}
header logo {
  display: flex;
}
header img {
  width: 200px;
  height: auto;
  align-items: center;
}

form {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #eaeaea;
  font-family: "Roboto-Bold";
}
form i {
  font-size: 17px;
}
form input {
  height: 68px;
  border: none;
  background-color: #eaeaea;
  font-family: "Roboto-Bold";
  font-size: 18px;
  padding-left: 20px;
}

@media screen and (min-width: 992px) {
  #page {
    max-width: 1440px;
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.entete {
  width: 100%;
  position: relative;
}
.entete i {
  display: flex;
}

.photo_plat {
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative;
}
@media screen and (min-width: 992px) {
  .photo_plat {
    height: 350px;
  }
}
@media screen and (min-width: 768px) {
  .photo_plat {
    height: 350px;
  }
}
.photo_plat img {
  height: auto;
  width: 100%;
  transform: translate(0px, -30px);
}

.titre_restaurant {
  width: 100%;
  position: relative;
}
@media screen and (min-width: 768px) {
  .titre_restaurant {
    font-size: 30px;
  }
}

.titre {
  width: 100%;
  position: absolute;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
  top: -54px;
  z-index: 1;
  border-radius: 40px 40px 0px 0px;
  background-color: #f7f7f6;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.titre span {
  font-family: "Shrikhand-Regular";
  font-size: 30px;
}
@media screen and (min-width: 768px) {
  .titre span {
    font-size: 36px;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f7f7f6;
}
.menu p {
  margin-left: 20px;
  margin-top: 40px;
  margin-bottom: 30px;
  font-family: "Roboto-Regular";
}
.menu p span {
  text-decoration: underline #99E2D0;
  text-underline-offset: 10px;
}
@media screen and (min-width: 992px) {
  .menu p {
    margin-top: 30px;
    margin-bottom: 40px;
  }
}
.menu .entree, .menu .plats, .menu .dessert {
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Roboto-Regular";
}
@media screen and (min-width: 992px) {
  .menu .entree, .menu .plats, .menu .dessert {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .menu .entree, .menu .plats, .menu .dessert {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .menu .entree .numero2, .menu .entree .numero4, .menu .plats .numero2, .menu .plats .numero4, .menu .dessert .numero2, .menu .dessert .numero4 {
    align-self: flex-start;
  }
}
@media screen and (min-width: 768px) {
  .menu .entree .numero1, .menu .entree .numero3, .menu .plats .numero1, .menu .plats .numero3, .menu .dessert .numero1, .menu .dessert .numero3 {
    align-self: flex-end;
  }
}
.menu .plat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 2px 10px #cac9c9;
  margin-bottom: 20px;
  overflow: hidden;
}
@media screen and (min-width: 992px) {
  .menu .plat {
    height: 110px !important;
    width: 70% !important;
  }
}
@media screen and (min-width: 768px) {
  .menu .plat {
    width: 65%;
    height: 90px;
  }
}
.menu .plat .valider {
  display: flex;
  width: 0px;
  height: 100%;
  border-radius: 0px 20px 20px 0px;
  background-color: #99E2D0;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: white;
  overflow: hidden;
}
.menu .plat .valider i {
  display: none;
  font-size: 25px;
  color: white;
  align-items: center;
}
.menu .plat .descriptif {
  padding-left: 20px;
  width: 280px;
}
@media screen and (min-width: 768px) {
  .menu .plat .descriptif {
    width: 450px;
  }
}
.menu .plat .nom_plat {
  font-family: "Roboto-Bold";
  font-size: 18px;
  margin-bottom: 5px;
}
@media screen and (min-width: 768px) {
  .menu .plat .nom_plat {
    font-size: 24px;
  }
}
.menu .plat .detail_plat {
  font-family: "Roboto-Regular";
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  .menu .plat .detail_plat {
    font-size: 22px;
  }
}
.menu .plat .prix {
  font-family: "Roboto-Bold";
  width: 15%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .menu .plat .prix {
    font-size: 24px;
  }
}

.bouton {
  display: flex;
  background-color: #f7f7f6;
  justify-content: center;
}
.bouton input {
  margin-top: 40px;
  margin-bottom: 100px;
  margin-left: 0px;
  border-radius: 25px;
  width: 180px;
  height: 50px;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 2px 10px #cac9c9;
  border: none;
  font-family: "Roboto-Regular";
  font-size: 16px;
}
.bouton input:hover {
  filter: brightness(1.2);
  box-shadow: 0px 10px 10px #8a8989;
}
@media screen and (min-width: 768px) {
  .bouton input {
    font-size: 24px;
  }
}

/*Importation des polices*/
@font-face {
  font-family: "Shrikhand-Regular";
  src: url("fonts/Shrikhand-Regular.ttf");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("fonts/Roboto-Bold.ttf");
}
@media screen and (min-width: 992px) {
  #page {
    max-width: 1440px;
    box-sizing: border-box;
    width: 100%;
    margin: auto;
  }
}
@media screen and (min-width: 768px) {
  #page {
    max-width: 820px;
    box-sizing: border-box;
    width: 100%;
    margin: auto;
  }
}
#page .loader_spin {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: gray;
  display: flex;
  z-index: 999;
  opacity: 0.8;
  justify-content: center;
}
@media screen and (min-width: 992px) {
  #page .loader_spin {
    width: 100%;
  }
}
#page .loader_spin .loader {
  opacity: 1;
  display: flex;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #9356DC;
  border-right: 16px solid #FF79DA;
  border-bottom: 16px solid #99E2D0;
  width: 120px;
  height: 120px;
  margin-top: 350px;
}
#page #presentation {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f6f6f6;
  width: auto;
  height: 300px;
  text-align: center;
  align-items: center;
}
#page #presentation h2 {
  font-family: "Roboto-Bold";
}
@media screen and (min-width: 992px) {
  #page #presentation h2 {
    font-size: 30px;
  }
}
@media screen and (min-width: 768px) {
  #page #presentation h2 {
    font-size: 30px;
  }
}
#page #presentation span {
  font-family: "Roboto-Regular";
}
@media screen and (min-width: 992px) {
  #page #presentation span {
    font-size: 24px;
  }
}
@media screen and (min-width: 768px) {
  #page #presentation span {
    font-size: 24px;
  }
}
#page #presentation .explorer {
  border-radius: 20px;
  height: 40px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto-Regular";
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 2px 10px #8a8989;
  font-size: 14px;
  margin-top: 20px;
}
#page #presentation .explorer:hover {
  filter: brightness(1.2);
  box-shadow: 0px 10px 10px #8a8989;
}
@media screen and (min-width: 768px) {
  #page #presentation .explorer {
    width: 350px;
    height: 60px;
    border-radius: 30px;
  }
}
#page #fonctionnement {
  padding-right: 20px;
  padding-left: 20px;
  background-color: white;
}
@media screen and (min-width: 992px) {
  #page #fonctionnement {
    height: auto;
  }
}
#page #fonctionnement h2 {
  font-family: "Roboto-Bold";
  padding-top: 20px;
}
#page #fonctionnement .bouton {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  justify-content: space-between;
}
@media screen and (min-width: 992px) {
  #page #fonctionnement .bouton {
    width: 100%;
    align-items: center;
    margin: 0px;
  }
}
@media screen and (min-width: 992px) {
  #page #fonctionnement .bouton .composer {
    align-self: flex-end;
  }
}
@media screen and (min-width: 992px) {
  #page #fonctionnement .bouton .choisir, #page #fonctionnement .bouton .deguster {
    align-self: flex-start;
  }
}
#page #fonctionnement .bouton div {
  display: flex;
  margin-bottom: 20px;
  border-radius: 20px;
  width: 80%;
  height: 70px;
  align-items: center;
  box-shadow: 0px 2px 10px #8a8989;
}
@media screen and (min-width: 992px) {
  #page #fonctionnement .bouton div {
    width: 70%;
    margin-left: 20px;
  }
}
#page #fonctionnement .bouton div p {
  font-family: "Roboto-Bold";
}
#page #fonctionnement .bouton div:hover {
  background-color: #9356DC;
}
#page #fonctionnement .bouton div span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin-left: -10px;
  color: white;
  font-family: "Roboto-Regular";
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  #page #fonctionnement .bouton div span {
    font-size: 20px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-left: -15px;
  }
}
@media screen and (min-width: 992px) {
  #page #fonctionnement .bouton div span {
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 15px;
    margin-left: -15px;
  }
}
#page #fonctionnement .bouton div i {
  margin-left: 20px;
}
@media screen and (min-width: 768px) {
  #page #fonctionnement .bouton div i {
    font-size: 20px;
  }
}
#page #fonctionnement .bouton div p {
  margin-left: 20px;
}
@media screen and (min-width: 768px) {
  #page #fonctionnement .bouton div p {
    font-size: 20px;
  }
}
#page #fonctionnement .bouton .choisir, #page #fonctionnement .bouton .composer, #page #fonctionnement .bouton .deguster {
  background-color: #f6f6f6;
}
#page #fonctionnement .bouton .choisir:hover, #page #fonctionnement .bouton .composer:hover, #page #fonctionnement .bouton .deguster:hover {
  background-color: #f4ecff;
}
#page #fonctionnement .bouton .choisir:hover i, #page #fonctionnement .bouton .composer:hover i, #page #fonctionnement .bouton .deguster:hover i {
  color: #9356DC;
}
#page #restaurants {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f7f7f6;
}
#page #restaurants h2 {
  font-family: "Roboto-Bold";
  padding-top: 30px;
}
@media screen and (min-width: 768px) {
  #page #restaurants h2 {
    font-size: 2em;
  }
}
@media screen and (min-width: 992px) {
  #page #restaurants .presentation_restaurant {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
#page #restaurants .restaurant {
  height: 300px;
}
#page #restaurants .restaurant a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  position: relative;
}
@media screen and (min-width: 992px) {
  #page #restaurants .restaurant {
    display: inline-block;
    width: 45%;
  }
}
#page #restaurants .restaurant .nouveau {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #98e3d0;
  color: #098a6b;
  width: 80px;
  height: 30px;
  font-family: "Roboto-Bold";
  font-size: 14px;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  #page #restaurants .restaurant .nouveau {
    font-size: 20px;
    width: 120px;
    height: 35px;
  }
}
#page #restaurants .restaurant .photo {
  overflow: hidden;
  border-radius: 20px 20px 0px 0px;
  max-height: 222px;
}
#page #restaurants .restaurant .photo img {
  width: 100%;
}
#page #restaurants .restaurant .descriptif {
  height: 25%;
  width: 100%;
  background-color: white;
  border-radius: 0px 0px 20px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (min-width: 992px) {
  #page #restaurants .restaurant .descriptif {
    text-align: left;
    height: 15%;
  }
}
@media screen and (min-width: 768px) {
  #page #restaurants .restaurant .descriptif {
    height: 20%;
  }
}
#page #restaurants .restaurant .descriptif .vide, #page #restaurants .restaurant .descriptif .plein {
  top: 19px;
}
#page #restaurants .restaurant .descriptif .nom_restaurant {
  padding-top: 10px;
  padding-bottom: 5px;
  font-family: "Roboto-Bold";
}
#page #restaurants .restaurant .descriptif .description_restaurant {
  width: 90%;
  font-family: "Roboto-Regular";
}
#page #restaurants .restaurant .descriptif span {
  padding-left: 10px;
}
@media screen and (min-width: 768px) {
  #page #restaurants .restaurant .descriptif span {
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
