/*Importation des polices*/
@font-face {
    font-family: 'Shrikhand-Regular';
    src: url('fonts/Shrikhand-Regular.ttf')
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('fonts/Roboto-Light.ttf')
}