#fonctionnement{

    padding-right: 20px;
    padding-left: 20px;

    & h2{
        font-family: $font_gras;
    }

    .bouton{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        height: 300px;

        div{
            display: flex;
            margin-bottom: 20px;
            border-radius: 20px ;
            width: 80%;
            height: 70px;
            align-items: center;

            & p{
                font-family: $font_gras;
            }
    
            &:hover{
                background-color: $color-primary;
            }
    
            & span{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $color-primary;
                width: 20px;
                height: 20px;
                border-radius: 10px;
                margin-left: -10px;
                color: white;
                font-family: $font_normal;
                font-size: 14px;
            }
    
            & i{
                margin-left: 20px;
            }
    
            & p{
                margin-left: 20px;
            }
    
        }

        .choisir, .composer, .deguster{
            background-color: #f6f6f6;
            &:hover{
                background-color: #f4ecff;

                & i{
                    color: $color-primary;
                }
            }
        }
    }
    
    
}