@keyframes rotation-check{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes apparition-plat {
    0%{
        opacity: 0;
        transform: translate(-10px, 0px);
    }
    100%{
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes disparition_fond_ecran {
    0% {
        transform: translate(0px);
    }
    100% {
        opacity: 0;
        transform: translate(-10000px);
    }
}

@keyframes apparition_menu {
    0%{
        opacity: 0;
        transform: translate(0px, 10px);
    }
    100%{
        opacity: 1;
        transform: translate(0px, 0px);
    }
}
